
/********************TAG SPECIFIERS********************************************/

body{
	margin: 0px;
	text-align: center;
	color: white;
	font-family: sans-serif;
	background-color: black;
}
h1{

	font-size: 5.625rem;
	margin : 50px auto 0 auto;
}

hr {
  position:relative;
  background-color:none;
  border:none;
  height:1px;
  width:100%;
  margin: 100px auto;
  text-align:center;
}
hr:after {
  position: relative;
  top: -0.8em;
  font-size:5.0em;
  background: none;
  display: inline-block;
  color: white;
  font-family: "Londrina Shadow";
  line-height: 1;
  content: ". . . ";
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	padding-bottom: 10px;
	color : #66BFBF;
}

h3{
	color : white;
	font-family: 'Sacramento', cursive;
	font-weight: normal;
}
p{
	font-family: 'Merriweather', serif;
	line-height: 2;
}

a{
	color: yellow;
}


/***********************CLASS SPECIFIERS****************************/

.intro {
	background-color: black;
	padding-top: 100px;
	position: relative;
}

.title-head{
	color: white;
	font-family: 'Sacramento', cursive;
}


.intro-head{
	color: white;
	font-family: 'Merriweather', serif;
	margin-top: 0px;
}


.head{
	color: #66BFBF;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	padding-bottom: 10px;
}

.intro_writing{
	width: 30%;
	margin: auto;
}


.background-img{
	height: 336.375px;
	width: 598px;
}

.skills{
	text-align: center;
}

.middle-container{

	margin: 100px 0;
}


.pro{
	text-decoration: underline;
	color: #ff0000;
	background-color: black;
}


.profile_pic{
	margin-top: 0px;
	width: 15%;
	margin-bottom: 30px;
}

.code{
	font-family: monospace;
	font-size: 16px;
	color: yellow;
}


.skill-row{
	width: 60%;
	margin: 100px auto 100px auto;
	text-align: left;
}

.ml{
	width: 20%;
	float: left;
	margin-right: 15%;
	margin-top:2%;
}

.algo{
	width: 20%;
	float: left;
	margin-right: 15%;
	margin-top:2%;
}

.wd{
	float: right;
	width: 20%;
	margin-left: 15%;
	margin-top:2%;
}

.contact-msg{
	width: 40%;
	margin: 40px auto 60px;
}


.bottom-container{
	background-color: #204051;
	padding: 50px 0 20px;
}
.heads{
	font-size: 2.0rem;
}
